<app-create-event-modal
    [visible]="isCreateModalVisible"
    (onClose)="isCreateModalVisible = false"
    (onSave)="handleOnEventCreated($event)"
/>
<app-edit-event-modal
    [visible]="eventToEdit !== undefined"
    [eventToEdit]="eventToEdit"
    (onClose)="handleOnEventEditCancel()"
    (onSave)="handleOnEventEditSaved($event)"
/>
<p-confirmDialog id="deleteConfimationDialog"></p-confirmDialog>

<div class="flex justify-content-between mb-5">
    <p-button class="p-2" (onClick)="showCreateEventModal()" label="Create new event" />
    <div class="p-2 flex align-items-center">
        <span class="p-2">Table</span>
        <p-inputSwitch [(ngModel)]="displayAsTimeLine" />
        <span class="p-2">Timeline</span>
    </div>
</div>

<div class="w-full flex justify-content-center">
    <h3 *ngIf="events.length === 0">No events! Create new event.</h3>

    <app-events-timeline
        *ngIf="displayAsTimeLine"
        [events]="events"
        (onDelete)="handleDeleteEventInit($event)"
        (onEdit)="handleOnEventEditInit($event)"
    />

    <app-events-table
        *ngIf="!displayAsTimeLine && events.length !== 0"
        [events]="events"
        (onDelete)="handleDeleteEventInit($event)"
        (onEdit)="handleOnEventEditInit($event)"
    />
</div>
