<p-timeline class="w-9" [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
        {{ event.start | date: dateFormat }}
    </ng-template>
    <ng-template pTemplate="content" let-event>
        <p-card [subheader]="event.date">
            <!-- <ng-template pTemplate="header">
                
            </ng-template> -->

            <div class="flex justify-content-between align-items-center">
                <div class="p-card-title">{{ event.name }}</div>
                <div>
                    <p-button class="mr-2" (onClick)="onEdit.emit(event)" severity="secondary"
                        ><i style="color: orange" class="fa-solid fa-pen-to-square mr-2"></i> Edit</p-button
                    >
                    <p-button (onClick)="onDelete.emit(event)" severity="secondary"
                        ><i style="color: red" class="fa-solid fa-trash mr-2"></i> Delete</p-button
                    >
                </div>
            </div>
            <p>
                {{ event.start | date: dateFormat }} -
                {{ event.end | date: dateFormat }}
            </p>

            <div class="p-1">
                Category:
                <i [ngStyle]="{ color: event.category.color }" [class]="event.category.icon" class="p-1"></i>
                <span [ngStyle]="{ color: event.category.color }">{{ event.category.name }}</span>
            </div>

            <p style="overflow-wrap: anywhere">
                {{ event.description }}
            </p>
            <img *ngIf="event.imageUrl" [src]="event.imageUrl" [alt]="event.name" class="shadow-2 w-full" />
        </p-card>
    </ng-template>
</p-timeline>
